<launch>

      <arg name="port" default="/dev/ttyACM0"/>
      <arg name="frame_id" default="imu_link"/>
      <arg name="namespace" default="imu_dev"/>
      <arg name="publish_tf" default="true"/>

      <node pkg="i3dr_rosserial_phobos" type="imu_publisher_node" name="imu_publisher_node"
            respawn="true" respawn_delay="4" required="false" output="screen">
            <param name="frame_id" value="$(arg frame_id)"/>
            <param name="namespace" value="$(arg namespace)"/>
            <param name="publish_tf" value="$(arg publish_tf)"/>
      </node>
      <node pkg="rosserial_python" type="serial_node.py" name="imu_serial_node"
            args="$(arg port)"
            respawn="true" respawn_delay="4" required="false" output="screen"/>
      <node pkg="rostopic" type="rostopic" name="imu_enable_node"
            args="pub /bno055/enable std_msgs/Bool 'data: true'"
            respawn="true" respawn_delay="4" required="false" output="screen"/>
</launch>